.dash-container {
    width: 90%;
    margin: 100px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}

.dash-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

.dash-body > div {
    max-height: 870px;
    overflow-y: scroll;
    background-color: #ced4da;
}

.dash-body > div::-webkit-scrollbar {
    width: 0px;
}


.dash-head {
    height: 100px;
    box-shadow: 0 0px 10px -2px black;
}

.dash-body > div {
    box-shadow: 0 0px 10px -2px black;
}

.dash-body > div:hover, .dash-head:hover {
    box-shadow: 0 0px 20px -2px black;
}

.dash-forms {
    display: grid;
    grid-template-columns: 1fr;
}

.heading {
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}

.income-form > form, .expense-form > form {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    margin: 20px auto;
    background-image: linear-gradient(#343a40, #6c757d, #adb5bd);
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0px 10px -2px black;
}

.income-form > form > div > div > label, .expense-form > form > div > div > label {
    font-size: 16px;
    font-weight: 500;
}

.income-form > form > div > div:nth-child(1), .expense-form > form > div > div:nth-child(1) {
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit-btn {
    width: 210px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.set-size {
    width: 200px;
}

.income-form > form > div:nth-child(1) > div:nth-child(2) > input, .income-form > form > div:nth-child(2) > div:nth-child(2) > select, .expense-form > form > div:nth-child(1) > div:nth-child(2) > input, .expense-form > form > div:nth-child(2) > div:nth-child(2) > select {
    height: 25px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.income-form > form > div:nth-child(3) > div:nth-child(2) > input, .income-form > form > div:nth-child(4) > div:nth-child(2) > input, .expense-form > form > div:nth-child(3) > div:nth-child(2) > input, .expense-form > form > div:nth-child(4) > div:nth-child(2) > input {
    height: 20px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.content {
    width: 60%;
    margin: 25px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0px 10px -2px black;
    color: white;
    border: 1px solid white;
    background-image: linear-gradient(#343a40, #6c757d, #adb5bd);
}

.content:hover {
    box-shadow: 0 0px 20px -2px black;
}

.content > div {
    font-size: 12px;
    margin: 10px 0;
}

.content > div:nth-child(2), .content > div:nth-child(4) {
    font-weight: 500;
    font-size: 16px;
}

.content > div:nth-child(5) {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-evenly;
}

.content > div:nth-child(5) > button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.content > div:nth-child(5) > button > img {
    width: 28px;
    height: 28px;
}